---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portafiolio web de Roger Huallanca Ccahuin, apasionado por el Desarrollo Web"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>
  </head>
  <body class="relative">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <!-- <Header /> -->
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color: white;
  }

  @font-face {
    font-family: "Geist";
    src: url("/src/font/GeistVF.ttf") format("ttf");
  }

  html {
    font-family: "Geist", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  ::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-track {
    background: #0f0f0f; /* Color de fondo del track */
  }

  ::-webkit-scrollbar-thumb {
    background: #ababab; /* Color del deslizador */
  }

  ::-webkit-scrollbar-corner {
    background: #222; /* Color de fondo de la esquina */
  }
</style>
